---
layout: default
title: About
---

{% include header.html %}
<h2>{{page.title}}</h2>
<img src="img/about.jpg">
<p></p>
I am a student at the University of Texas Austin studying computer science. I am always looking to improve my programming knowledge and enjoy
creating tutorials for others to benefit from what I have learned. If you find an error in one of my tutorials or just want to get in touch, email
me at <a href="mailto: tyler.yates@utexas.edu">tyler(dot)yates(at)utexas(dot)</a>.
{% include footer.html %}
