---
layout: post
title: Random Name Generation
tags:
- UUID
- Generation
- Java
---

{% include header.html %}
<h3>{{ page.title }}</h3>
Have you ever needed a quick and dirty way to generate random names or identifiers? The
<a href="http://docs.oracle.com/javase/7/docs/api/java/util/UUID.html" target="_blank">UUID</a> class may come in handy. UUID stands
for Universally Unique IDentifier and has been around for a long time (since the days of mainframes).
<p></p>
A UUID is a 128 bit number that takes the following form:
<br>
<div class="label">
xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
</div>
<br>
Each 'x' can be a lower-case letter or digit. For example, the following is a UUID:
<br>
<div class="label">
bb0748a6-2688-4868-82e6-3ec1d5cb13ae
</div>
<br>
The total number of possible UUIDs is 16
<sup>32</sup> which equals 340,282,366,920,<wbr>938,463,463,374,<wbr>607,431,768,211,<wbr>456. Because of the massive size of the
sample space it is HIGHLY unlikely that any two randomly generated UUIDs will be the same.
<p></p>
Let's look at some sample code for how to generate a random name using a UUID:
<br>
<pre class="prettyprint linenums">
import java.util.UUID;

public class NameGenerator {
    public static String getRandomName() {
        return UUID.randomUUID().toString();
    }
}
</pre>
<p></p>
Pretty simple! The UUID class takes care of all the random number generation and formatting for you.

{% include footer.html %}